<% layout('layouts/boilerplate') %>

<div class="container">
    <h1 class="mt-5 mb-4">Posts</h1>
    <div class="list-group list-group-flush list-group-lg">
        <% for (let post of posts){ %>
            <a href="posts/<%= post.id %>" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= post.title %></h5>
                </div>
                <p class="mb-1"><%= post.body %></p>
                <small>Postado por <%= post.author.username %> em <%= postFormattedDate(post.createAt) %></small>
            </a>
        <% } %>
    </div>
</div>

<script>

</script>
