<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="row col-6 offset-3">
        <div class="post">
            <h1 class="post-title display-6"><%= post.title %></h1>
            <% if (post.updatedAt) { %>
                <p class="post-edit-info">Editado em: <%= post.updatedAt.toLocaleString() %></p>
            <% } %>
            <p class="post-body lead mt-3"><%= post.body %></p>

            <div id="postCarousel" class="carousel slide" data-bs-ride="false">
                <div class="carousel-inner">
                  <% post.images.forEach((img, i) => { %>
                  <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img src="<%= img.url %>" class="d-block w-100" alt="">
                  </div>
                  <% }) %>
                </div>

                <% if(post.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#postCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
            <p class="post-date text-muted">Criado por <%= post.author.username %> em: <%= formattedDate(post.createAt) %></p>
            <div class="mt-2">
                <% for (let tag of post.tags) { %>
                    <span class="badge bg-secondary">#<%= tag %></span>
                <% } %>
            </div>
        </div>
        <div class="post-actions display-6 mt-3 d-flex align-items-end">
            <form action="/posts/<%= post.id %>/upvote" method="POST">
                <button type="submit" class="btn btn-outline-success me-2">
                    <i class="bi bi-arrow-up"></i>
                </button>
            </form>
            <div class="vote-count me-2">
            <%= post.votes %> 
            </div>
            <form action="/posts/<%= post.id %>/downvote" method="POST" class="me-4">
                <button type="submit" class="btn btn-outline-danger">
                    <i class="bi bi-arrow-down"></i> 
                </button>
            </form>

            <% if( currentUser && post.author.equals(currentUser)) { %>
            <form action="/posts/<%= post.id %>/delete?_method=DELETE" class="d-inline me-1" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
            <div class="d-inline me-1">
                <a href="/posts/<%= post.id %>/edit" class="btn btn-primary">Editar</a>
            </div>
            <% } %>

            <button id="shareButton" class="btn btn-secondary">
                <i class="bi bi-share"></i> 
            </button>

            <div id="copyMessage" class="alert alert-success copy-message" role="alert">
                Link copiado!
            </div>

            <div id="copyErrorMessage" class="alert alert-danger copy-message" role="alert">
                Falha ao copiar link!
            </div>
        </div>
    
        <div class="post">
            <h2 class="mt-5 display-7" style="font-weight: 300;">Comentários</h2>
        </div>
        <% if(currentUser) { %>
        <form action="/posts/<%= post.id %>/comments" method="POST" novalidate class="validate-form mt-3">
            <div class="mb-3">
                <label for="commentText" class="form-label">Novo Comentário</label>
                <textarea class="form-control" id="commentText" name="comment[body]" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success mb-3">Comentar</button>
        </form>
        <% } %>

        <% for(let comment of post.comments) { %>
            <div class="card mb-3">

                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= comment.author.username %></h6>
                    <p class="mb-0"> <%= comment.body %> </p>   
                    <% if( currentUser && comment.author.equals(currentUser)) { %>
                    <form action="/posts/<%= post.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger mt-2">Deletar</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script src="/javascripts/copy-link.js"></script>



