<% layout('layouts/boilerplate') %>

<div class="container mt-5">
    <div class="post">
        <h1 class="post-title display-6"><%= post.title %></h1>
        <p class="post-description lead"><%= post.description %></p>
        <p class="post-date text-muted">Criado em: <%= formattedDate(post.createAt) %></p>
    </div>
    <div class="post-actions display-6 mt-3"">
        <form action="/posts/<%= post.id %>/delete?_method=DELETE" class="d-inline" method="POST">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
        <a href="/posts/<%= post.id %>/edit" class="btn btn-primary">Editar</a>
    </div>
</div>

